@font-face {
  font-family: "Overpass Mono";
  src: url("../assets/fonts/OverpassMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Fredoka";
  src: url("../assets/fonts/Fredoka-VariableFont_wdth,wght.ttf");
}

html {
  /* Subpixel anti-aliasing on a dark background looks awful */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
